{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/portada_tienda.jpg' %}" alt="">
    </header>
    <div class="content-main">
        <div class="filtrados">
            <ol>
                <li><a href="#">Frutas</a></li>
                <li><a href="#">Verduras</a></li>
                <li><a href="#">Bebidas</a></li>
                <li><a href="#">Snacks</a></li>
            </ol>
        </div>

        <div class="productos">
            {% for producto in productos %}
                <div class="producto">
                    <h4 class="title-product">
                        {{ producto.nombre|upper }}
                        <p class="info" data-producto="{{ producto.nombre }}">➕</p>
                    </h4>
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" style="width: 200px; height: 200px; object-fit: cover;">
                    <p>PRECIO : S/{{ producto.precio }}</p>
                    <!-- Modal específico para este producto -->
                    <div class="modal-container">
                        <div class="modal">
                            <h1>Ventana Modal de {{ producto.nombre }}</h1>
                            <p>
                                Detalles sobre {{ producto.nombre }}: {{ producto.descripcion }}.
                            </p>
                            <button class="close">Cerrar</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>

{% endblock %}